doctype html
html
   head
      title Заявка #КБТ#{order.id}
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover")
   style(type="text/css").
      .page-wrapper {
         display: flex;
         flex-direction: row;
         justify-content: center;
      }
      .form-wrapper {
         display: flex;
         flex-direction: column;
         padding: 2rem;
         border: 1px solid #e9e9e9;
         border-radius: 5px;
         box-shadow: 0px 3px 11px #ddd;
         min-width: 340px;
      }
      .form-wrapper form {
         width: 100%;
      }
      .field-wrapper {
         display: flex;
         padding-top: 1rem;
         width: 100%;
      }
      .field-wrapper label{
         width: 100%;
      }
      .field-wrapper input, .field-wrapper textarea {
         border: 1px solid #c9c9c9;
         padding: 1rem;
         width: 100%;
         border-radius: 5px;
         box-sizing: border-box;
      }
      .field-wrapper select {
         border: 1px solid #c9c9c9;
         padding: 1rem;
         width: 100%;
         border-radius: 5px;
         outline:none;
      }
      .submit-wrapper {
         display: flex;
         flex-direction: row-reverse;
         justify-content: space-between;
         padding-top: 2rem;
      }
      .submit-wrapper button {
         padding: 0.8rem 1.5rem;
         border: 1px solid #58b3ff;
         background: #5bb4ff;
         color: white;
         border-radius: 5px;
      }
   body
      div.page-wrapper
         if submited
            div.form-wrapper
               h2 Заявка #КБТ#{order.id} сохранена и направлена диспетчеру
               p
                  a(href=`/order-form?t=${order.id}`) Вернуться к редактированию заявки
         else
            div.form-wrapper
               h2 Заявка #КБТ#{order.id} 
               p Номер клиента:
                  a(href=`tel:+${order.clientPhone}`) +#{order.clientPhone} 
               form(action=`/order-form?t=${order.id}`, method="post")
                  
                  div.field-wrapper
                     label(for="clientName") Имя клиента
                        input(
                           name='clientName',
                           placeholder='Введите текст',
                           value=order.clientName
                        )
                  div.field-wrapper
                     label(for="additionalPhone") Дополнительный телефон
                        input(
                           name='additionalPhone',
                           placeholder='Введите номер',
                           value=order.additionalPhone
                        )
                  div.field-wrapper
                     label(for="departureDate") Дата и время выезда
                        input(
                           name='departureDate',
                           placeholder='Выберите дату и время',
                           type='datetime-local'
                           value=order.departureDate
                        )
                  div.field-wrapper
                     label(for="fullAddress") Адрес
                        textarea(
                           rows="7"
                           name='fullAddress',
                           placeholder='Введите текст',
                           value=order.fullAddress
                        )
                  div.field-wrapper
                     label(for="defect") Неисправность
                        input(
                           name='defect',
                           placeholder='Введите текст',
                           value=order.defect
                        )
                  div.field-wrapper
                     label(for="brand") Марка
                        input(
                           name='brand',
                           placeholder='Введите текст',
                           value=order.brand
                        )
                  div.field-wrapper
                     label(for="model") Модель
                        input(
                           name='model',
                           placeholder='Введите текст',
                           value=order.model
                        )
                  div.field-wrapper
                     label(for="deviceTypeId") Тип устройства
                        select(
                           name='deviceTypeId',
                           placeholder='Выберите из списка',
                           value=order.deviceTypeId
                        )
                           each val in deviceTypes 
                              option(value=val.id, selected=val.id === order.deviceTypeId) #{val.title} 
                  div.submit-wrapper
                     if saved
                        div.saved-alert Сохранено
                     button(type="submit") Отправить