doctype html
html
   head
      title Гарантия
   style(type="text/css").
      .page-wrapper {
         display: flex;
         flex-direction: row;
         justify-content: center;
      }
      .form-wrapper {
         display: flex;
         flex-direction: column;
         padding: 2rem;
         border: 1px solid #e9e9e9;
         border-radius: 5px;
         box-shadow: 0px 3px 11px #ddd;
         min-width: 340px;
      }
      .form-wrapper form {
         width: 100%;
      }
      .field-wrapper {
         display: flex;
         padding-top: 1rem;
         width: 100%;
      }
      .field-wrapper label{
         width: 100%;
      }
      .field-wrapper input, .field-wrapper textarea {
         border: 1px solid #c9c9c9;
         padding: 1rem;
         width: 100%;
         border-radius: 5px;
         box-sizing: border-box;
      }
      .field-wrapper select {
         border: 1px solid #c9c9c9;
         padding: 1rem;
         width: 100%;
         border-radius: 5px;
         outline:none;
      }
      .submit-wrapper {
         display: flex;
         flex-direction: row-reverse;
         justify-content: space-between;
         padding-top: 2rem;
      }
      .submit-wrapper button {
         padding: 0.8rem 1.5rem;
         border: 1px solid #58b3ff;
         background: #5bb4ff;
         color: white;
         border-radius: 5px;
      }
   body
      div.page-wrapper
         if submited 
            div.form-wrapper
               h2 Гарантия на заявку #КБТ#{warranty.orderId} сохранена
               p
                  a(href=warrantyLink) Скачать гарантию
               p
                  a(href=`/warranty-form?o=${warranty.id}`) Вернуться к редактированию гарантии
         else
            div.form-wrapper
               h2 Гарантия (Заявка #КБТ#{warranty.orderId})
               p Номер клиента:
                  a(href=`tel:+${warranty.order.clientPhone}`) +#{warranty.order.clientPhone} 
               form(action=`/warranty-form?o=${warranty.id}`, method="post") 
                  div.field-wrapper
                     label(for="period") Срок гарантии (мес.) 
                        input(
                           name='period',
                           placeholder='Введите число',
                           value=warranty.period
                           type='number'
                        )
                  div.field-wrapper
                     label(for="date") Дата
                        input(
                           name='date',
                           placeholder='Выберите дату',
                           value=warranty.date
                           type='date'
                        )
                  div.field-wrapper
                     label(for="typeOfJob") Виды работ
                        textarea(
                           rows="5"
                           name='typeOfJob',
                           placeholder='Введите текст',
                           value=warranty.typeOfJob
                        )
                  div.field-wrapper
                     label(for="sparesPrice") Итого за запчасти
                        input(
                           name='sparesPrice',
                           placeholder='Введите сумму',
                           type='number',
                           step='0.01'
                           value=warranty.sparesPrice
                        )
                  div.field-wrapper
                     label(for="sparesPrice") Итого за работу
                        input(
                           name='workPrice',
                           placeholder='Введите сумму',
                           type='number',
                           step='0.01'
                           value=warranty.workPrice
                        )
                  div.submit-wrapper
                     if saved
                        div.saved-alert Сохранено
                     button(type="submit") Отправить